packaging_format = 2

id = "digiwords"
name = "Digiwords"
description.en = "Create interactive wordclouds"
description.fr = "Créer des nuages de mots interactifs"

version = "0.3.5~ynh1"

maintainers = ["Pierre-Amiel Giraud"]

[upstream]
license = "GPL-3.0-only"
website = "https://ladigitale.dev/"
demo = "https://ladigitale.dev/digiwords/#/"
admindoc = "https://codeberg.org/ladigitale/digiwords/src/branch/master/README.md"
userdoc = "https://ladigitale.dev/blog/digiwords-pour-creer-des-nuages-de-mots"
code = "https://codeberg.org/ladigitale/digiwords"


[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/digiwords"

    [install.init_main_permission]
    help.en = "If public, any visitor can create word clouds and see saved ones, providing they know their secret questions and answers."
    help.fr = "Si l’application est publique, n’importe quel visiteur pourra créer un nuage de mots et consulter ceux sauvegardés dont ils connaissent à la fois la question secrète et la réponse."
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/YunoHost-Apps/digiwords_ynh/releases/download/0.3.5/digiwords-v0.3.5.zip"
        sha256 = "cba502b1e853cc4e54a07168e8811e829aab0dbd260f0069b7e2c97acf31ef27"


    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "mariadb-server, php8.2-sqlite3"

    [resources.database]
    type = "mysql"
